<% include ../partials/header %>

    <div class="container" style="margin: 100px auto">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to YelpCamp!</h1>
                <p>View our hand-picked campgrounds from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new campground</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campgrounds){ %>
                <div class="col-md-3 col-sm-6">
                       <div class="back_ground"> 
			<img class="img-fluid camp"  src="<%= campgrounds.image %>">
			<a href="/campgrounds/<%= campgrounds._id %>"><i class="fa fa-info-circle icon"></i></a>
			</div>
                        <div class="caption">
                            <h6>
                                <%= campgrounds.name %>
                            </h6>
                        </div>
                </div>
                <% }); %>
        </div>
    </div>

    <% include ../partials/footer %>
